[submodule "Motus/vendor/spdlog"]
	path = Motus/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Motus/vendor/GLFW"]
	path = Motus/vendor/GLFW
	url = https://github.com/daniilvinn/glfw.git
[submodule "Motus/vendor/imgui"]
	path = Motus/vendor/imgui
	url = https://github.com/daniilvinn/imgui.git
